body 
{
    width: 100vw;  
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('bg.jpg');
  background-size: cover;
  filter: blur(10px);
  z-index: 10;
}
.content
{
    position: relative;
    z-index: 1000;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1vw;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nameInner
{
    font-family: 'Roboto';
    color: #05530E;
    font-size: 3vh;
}
.recognition
{
    width: 20%;
    margin: 1vh;
    height: 6vh;
    border-radius: 6vw;
    border: none;
    background-color: #0A4F12;
    color: #FFF;
}
.recognition:hover{
    color: #0A4F12;
    background-color: #fff;
    border: 2px solid #0A4F12;
    transition: .2s;
}

.recogn
{
    font-family: 'Roboto';
}

.rec
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
